* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: "Roboto Mono", sans-serif;
  font-size: 18px;
  color: #333;
  padding: 30px;
  background-color: #1a1a1a;
}

.card-ctr {
  width: 75vw;
  height: 75vh;
  margin: 0 auto;
  /* background-color: lightblue; */
  /* border: 3px solid #222125; */
  border-radius: 12px;
  padding: 30px 40px;
  position: relative;
}

.card-category {
  text-align: right;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0, 0.5);
  position: absolute;
  top: 4px;
  right: 8px;
  text-transform: uppercase;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  /* position: relative; */
}

.card-text-1,
.card-text-2 {
  font-size: 30px;
}

.card-text-1 {
  padding-bottom: 30px;
}

.card-subtext {
  width: 40%;
  height: 100%;
  align-self: flex-end;

  display: flex;
  align-items: flex-end;
  text-align: right;
  font-size: 18px;
}

.btn-ctr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cacaca;
  border: none;
  padding: 10px;
  font-size: 24px;
  border-radius: 50%;
}

.prev-btn:hover {
  background-color: #e6e6fa;
}

.next-btn:hover {
  content: "title";
  background-color: lavender;
}

.random-btn {
  margin: 0 auto;
  border-radius: 10px;
  text-transform: uppercase;
}

/* .prev-deck-btn {
  background-color: #777;
} */

/* .next-deck-btn {
} */

/* ================   Media Queries   ================ */

@media only screen and (max-width: 1100px) {
  .card-text-1,
  .card-text-2 {
    font-size: 24px;
  }

  .card-subtext {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  .card-text-1,
  .card-text-2 {
    font-size: 20px;
  }

  .card-subtext {
    font-size: 10px;
  }
}
@media only screen and (max-width: 550px) {
  .card-ctr {
    padding: 30px 20px;
  }

  .card-text-1,
  .card-text-2 {
    font-size: 14px;
  }

  .card-subtext {
    width: 70%;
  }
}

.image {
  /* height: 100px; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* color: #b19eff; */
/* 

ffeb94
94bdff
945cbf
8a2b33
83cf72

*/
